body {
  font-family: League Spartan;
}
.display-1 {
  font-family: 'League Spartan', sans-serif;
  font-size: 8.75rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 10.9375rem;
}
.display-2 {
  font-family: 'League Spartan', sans-serif;
  font-size: 4.5rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.625rem;
}
.display-4 {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-5 {
  font-family: 'League Spartan', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 7rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 6.125rem;
    font-size: calc( 3.7124999999999995rem + (8.75 - 3.7124999999999995) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (3.7124999999999995rem + (8.75 - 3.7124999999999995) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #f09339 !important;
}
.bg-success {
  background-color: #df3815 !important;
}
.bg-info {
  background-color: #fed243 !important;
}
.bg-warning {
  background-color: #504a24 !important;
}
.bg-danger {
  background-color: #f09339 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f09339 !important;
  border-color: #f09339 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #f09339;
}
.btn-primary:hover .mobi-mbri:after,
.btn-primary:focus .mobi-mbri:after,
.btn-primary.focus .mobi-mbri:after,
.btn-primary.active .mobi-mbri:after {
  display: block;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c3680f !important;
  border-color: #c3680f !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #009f4d !important;
  border-color: #009f4d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #009f4d;
}
.btn-secondary:hover .mobi-mbri:after,
.btn-secondary:focus .mobi-mbri:after,
.btn-secondary.focus .mobi-mbri:after,
.btn-secondary.active .mobi-mbri:after {
  display: block;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #004823 !important;
  border-color: #004823 !important;
}
.btn-info,
.btn-info:active {
  background-color: #fed243 !important;
  border-color: #fed243 !important;
  color: #423200 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fed243;
}
.btn-info:hover .mobi-mbri:after,
.btn-info:focus .mobi-mbri:after,
.btn-info.focus .mobi-mbri:after,
.btn-info.active .mobi-mbri:after {
  display: block;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #423200 !important;
  background-color: #e9b301 !important;
  border-color: #e9b301 !important;
}
.btn-success,
.btn-success:active {
  background-color: #df3815 !important;
  border-color: #df3815 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #df3815;
}
.btn-success:hover .mobi-mbri:after,
.btn-success:focus .mobi-mbri:after,
.btn-success.focus .mobi-mbri:after,
.btn-success.active .mobi-mbri:after {
  display: block;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #90240e !important;
  border-color: #90240e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #504a24 !important;
  border-color: #504a24 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #504a24;
}
.btn-warning:hover .mobi-mbri:after,
.btn-warning:focus .mobi-mbri:after,
.btn-warning.focus .mobi-mbri:after,
.btn-warning.active .mobi-mbri:after {
  display: block;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #141309 !important;
  border-color: #141309 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f09339 !important;
  border-color: #f09339 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #f09339;
}
.btn-danger:hover .mobi-mbri:after,
.btn-danger:focus .mobi-mbri:after,
.btn-danger.focus .mobi-mbri:after,
.btn-danger.active .mobi-mbri:after {
  display: block;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #c3680f !important;
  border-color: #c3680f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fef9ee !important;
  border-color: #fef9ee !important;
  color: #e09e0d !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-white:hover .mobi-mbri:after,
.btn-white:focus .mobi-mbri:after,
.btn-white.focus .mobi-mbri:after,
.btn-white.active .mobi-mbri:after {
  display: block;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #e09e0d !important;
  background-color: #f9dc9c !important;
  border-color: #f9dc9c !important;
}
.btn-black,
.btn-black:active {
  background-color: #1f1d1a !important;
  border-color: #1f1d1a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #1f1d1a;
}
.btn-black:hover .mobi-mbri:after,
.btn-black:focus .mobi-mbri:after,
.btn-black.focus .mobi-mbri:after,
.btn-black.active .mobi-mbri:after {
  display: block;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline {
  background-color: #fef9ee !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  border-color: transparent;
  color: #f09339;
}
.btn-primary-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #f09339 !important;
}
.btn-primary-outline:hover .mobi-mbri:after,
.btn-primary-outline:focus .mobi-mbri:after,
.btn-primary-outline.focus .mobi-mbri:after,
.btn-primary-outline.active .mobi-mbri:after {
  display: block;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f09339 !important;
  border-color: #f09339 !important;
}
.btn-secondary-outline {
  background-color: #fef9ee !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  border-color: transparent;
  color: #009f4d;
}
.btn-secondary-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #009f4d !important;
}
.btn-secondary-outline:hover .mobi-mbri:after,
.btn-secondary-outline:focus .mobi-mbri:after,
.btn-secondary-outline.focus .mobi-mbri:after,
.btn-secondary-outline.active .mobi-mbri:after {
  display: block;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #009f4d !important;
  border-color: #009f4d !important;
}
.btn-info-outline {
  background-color: #fef9ee !important;
}
.btn-info-outline,
.btn-info-outline:active {
  border-color: transparent;
  color: #fed243;
}
.btn-info-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #fed243 !important;
}
.btn-info-outline:hover .mobi-mbri:after,
.btn-info-outline:focus .mobi-mbri:after,
.btn-info-outline.focus .mobi-mbri:after,
.btn-info-outline.active .mobi-mbri:after {
  display: block;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #423200 !important;
  background-color: #fed243 !important;
  border-color: #fed243 !important;
}
.btn-success-outline {
  background-color: #fef9ee !important;
}
.btn-success-outline,
.btn-success-outline:active {
  border-color: transparent;
  color: #df3815;
}
.btn-success-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #df3815 !important;
}
.btn-success-outline:hover .mobi-mbri:after,
.btn-success-outline:focus .mobi-mbri:after,
.btn-success-outline.focus .mobi-mbri:after,
.btn-success-outline.active .mobi-mbri:after {
  display: block;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #df3815 !important;
  border-color: #df3815 !important;
}
.btn-warning-outline {
  background-color: #fef9ee !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  border-color: transparent;
  color: #504a24;
}
.btn-warning-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #504a24 !important;
}
.btn-warning-outline:hover .mobi-mbri:after,
.btn-warning-outline:focus .mobi-mbri:after,
.btn-warning-outline.focus .mobi-mbri:after,
.btn-warning-outline.active .mobi-mbri:after {
  display: block;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #504a24 !important;
  border-color: #504a24 !important;
}
.btn-danger-outline {
  background-color: #fef9ee !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  border-color: transparent;
  color: #f09339;
}
.btn-danger-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #f09339 !important;
}
.btn-danger-outline:hover .mobi-mbri:after,
.btn-danger-outline:focus .mobi-mbri:after,
.btn-danger-outline.focus .mobi-mbri:after,
.btn-danger-outline.active .mobi-mbri:after {
  display: block;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f09339 !important;
  border-color: #f09339 !important;
}
.btn-black-outline {
  background-color: #fef9ee !important;
}
.btn-black-outline,
.btn-black-outline:active {
  border-color: transparent;
  color: #1f1d1a;
}
.btn-black-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #1f1d1a !important;
}
.btn-black-outline:hover .mobi-mbri:after,
.btn-black-outline:focus .mobi-mbri:after,
.btn-black-outline.focus .mobi-mbri:after,
.btn-black-outline.active .mobi-mbri:after {
  display: block;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #1f1d1a !important;
  border-color: #1f1d1a !important;
}
.btn-white-outline {
  background-color: #fef9ee !important;
}
.btn-white-outline,
.btn-white-outline:active {
  border-color: transparent;
  color: #fef9ee;
}
.btn-white-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #fef9ee !important;
}
.btn-white-outline:hover .mobi-mbri:after,
.btn-white-outline:focus .mobi-mbri:after,
.btn-white-outline.focus .mobi-mbri:after,
.btn-white-outline.active .mobi-mbri:after {
  display: block;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #e09e0d !important;
  background-color: #fef9ee !important;
  border-color: #fef9ee !important;
}
.text-primary {
  color: #f09339 !important;
}
.text-secondary {
  color: #009f4d !important;
}
.text-success {
  color: #df3815 !important;
}
.text-info {
  color: #fed243 !important;
}
.text-warning {
  color: #504a24 !important;
}
.text-danger {
  color: #f09339 !important;
}
.text-white {
  color: #FEF9EE !important;
}
.text-black {
  color: #1F1D1A !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f09339;
}
.nav-tabs .nav-link:not(.active) {
  color: #1F1D1A;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #fed243;
}
.alert-warning {
  background-color: #504a24;
}
.alert-danger {
  background-color: #f09339;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f09339;
  border-color: #f09339;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f09339;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fefaf7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #facfc6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ccc38e;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fefaf7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f09339 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.875rem;
}
blockquote {
  border-color: #f09339;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f09339;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f09339;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f09339;
  border-bottom-color: #f09339;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f09339 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #009f4d !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f09339' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition-duration: .2s;
}
a:hover {
  background-image: none !important;
  text-decoration-line: underline;
}
.container {
  max-width: 1322px;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 991px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 639px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 991px) {
  .container-fluid {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 639px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.row {
  margin-left: -40px;
  margin-right: -40px;
  justify-content: center;
}
.row > [class*="col"] {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .row {
    margin-left: -32px;
    margin-right: -32px;
  }
  .row > [class*="col"] {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 991px) {
  .row {
    margin-left: -24px;
    margin-right: -24px;
  }
  .row > [class*="col"] {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 639px) {
  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
  .row > [class*="col"] {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.row {
  justify-content: center;
}
.mbr-section-btn .btn {
  min-width: 100px;
  min-height: 40px;
  padding: 9px 24px;
  line-height: 1.55;
  font-weight: 500;
  transition-duration: .2s;
  border-radius: 9999px;
  text-underline-offset: 4px;
  box-shadow: none !important;
  border: none !important;
  overflow: hidden;
}
.mbr-section-btn .btn .mobi-mbri {
  position: relative;
}
.mbr-section-btn .btn:hover {
  text-decoration-line: underline;
}
.mbr-section-btn .btn-white-outline {
  background-color: transparent !important;
}
.mbr-section-btn .btn-white-outline:hover {
  text-decoration-line: none !important;
}
.mbr-section-btn .btn-white-outline .mobi-mbri:after {
  display: none !important;
}
@media (max-width: 575px) {
  .mbr-section-btn {
    width: 100%;
  }
  .mbr-section-btn .btn {
    width: 100%;
    min-width: auto !important;
  }
}
section {
  overflow: hidden;
}
b {
  font-weight: 600 !important;
}
.cid-v0hUfjyEFi {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #1f1d1a;
}
.cid-v0hUfjyEFi .mbr-fallback-image.disabled {
  display: none;
}
.cid-v0hUfjyEFi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v0hUfjyEFi .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-v0hUfjyEFi .image-wrap img {
    display: block;
    margin: auto;
  }
}
.cid-v0hUfjyEFi .row-links {
  width: 100%;
  justify-content: center;
}
.cid-v0hUfjyEFi .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-v0hUfjyEFi .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-v0hUfjyEFi .header-menu li p {
  margin: 0;
}
.cid-v0hUfjyEFi .mbr-section-title {
  color: #bbbbbb;
}
.cid-v0hUfjyEFi .header-menu-item {
  color: #ffffff;
}
.cid-v0hUfjyEFi .mbr-text,
.cid-v0hUfjyEFi .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-v0hUfjyEFi .content-head {
  max-width: 800px;
}
.cid-v0ifwHeiUw {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #1f1d1a;
}
.cid-v0ifwHeiUw .mbr-fallback-image.disabled {
  display: none;
}
.cid-v0ifwHeiUw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v0ifwHeiUw .card-wrapper {
  position: relative;
  height: 100%;
  margin-right: 48px;
  will-change: transform;
  animation: none !important;
}
@media (max-width: 992px) {
  .cid-v0ifwHeiUw .card-wrapper {
    margin-bottom: 60px;
    margin-right: 0;
    height: auto;
  }
}
.cid-v0ifwHeiUw .card-wrapper .image-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
  animation: none !important;
}
@media (max-width: 992px) {
  .cid-v0ifwHeiUw .card-wrapper .image-wrap img {
    position: static;
    height: 400px;
  }
}
.cid-v0ifwHeiUw .card-wrapper .decor-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  height: 60px;
  background-color: #1f1d1a;
  border-bottom-left-radius: 30px;
  z-index: 1;
}
@media (max-width: 992px) {
  .cid-v0ifwHeiUw .card-wrapper .decor-wrap {
    width: 120px;
  }
}
.cid-v0ifwHeiUw .card-wrapper .decor-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 30px;
  box-shadow: 10px -10px 0 10px #1f1d1a;
}
.cid-v0ifwHeiUw .card-wrapper .decor-wrap::after {
  content: '';
  position: absolute;
  top: 60px;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 30px;
  box-shadow: 10px -10px 0 10px #1f1d1a;
}
.cid-v0ifwHeiUw .card-wrapper .item-wrapper {
  position: absolute;
  bottom: -20px;
  left: 30px;
  width: 260px;
  animation: none !important;
  backdrop-filter: blur(10px);
  padding: 40px;
}
@media (max-width: 992px) {
  .cid-v0ifwHeiUw .card-wrapper .item-wrapper {
    padding: 30px;
    bottom: -30px;
    left: 0;
  }
}
@media (max-width: 425px) {
  .cid-v0ifwHeiUw .card-wrapper .item-wrapper {
    width: 100%;
  }
}
.cid-v0ifwHeiUw .card-wrapper .item-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  z-index: 1;
  pointer-events: none;
  opacity: 0.2;
  background-color: #000000;
}
.cid-v0ifwHeiUw .card-wrapper .item-wrapper .card-box {
  z-index: 2;
  position: relative;
}
.cid-v0ifwHeiUw .card-wrapper .item-wrapper .card-box .item-number {
  margin-bottom: 15px;
}
.cid-v0ifwHeiUw .card-wrapper .item-wrapper .card-box .item-title {
  margin-bottom: 15px;
}
.cid-v0ifwHeiUw .card-wrapper .item-wrapper .card-box .rating-wrapper {
  margin-bottom: 5px;
}
.cid-v0ifwHeiUw .card-wrapper .item-wrapper .card-box .rating-wrapper .rating-wrap {
  display: inline-flex;
}
.cid-v0ifwHeiUw .card-wrapper .item-wrapper .card-box .rating-wrapper .rating-wrap .item-star {
  margin-bottom: 0;
  display: inline-flex;
}
.cid-v0ifwHeiUw .card-wrapper .item-wrapper .card-box .item-desc {
  margin-bottom: 0;
}
.cid-v0ifwHeiUw .content-wrapper .label-wrapper .mbr-label {
  display: inline-block;
  padding: 4px 20px;
  margin-bottom: 20px;
  border: 1px solid #e4ed64;
}
.cid-v0ifwHeiUw .content-wrapper .mbr-section-title {
  margin-bottom: 15px;
}
.cid-v0ifwHeiUw .content-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-v0ifwHeiUw .content-wrapper .items-wrapper {
  margin-top: 30px;
}
.cid-v0ifwHeiUw .content-wrapper .items-wrapper .item {
  padding: 35px 0;
  border-top: 1px solid #f09339;
}
@media (max-width: 992px) {
  .cid-v0ifwHeiUw .content-wrapper .items-wrapper .item {
    padding: 30px 0;
  }
}
.cid-v0ifwHeiUw .content-wrapper .items-wrapper .item:last-child {
  padding-bottom: 0 !important;
}
.cid-v0ifwHeiUw .content-wrapper .items-wrapper .item .item-wrapper .card-box {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .cid-v0ifwHeiUw .content-wrapper .items-wrapper .item .item-wrapper .card-box {
    display: block;
  }
}
.cid-v0ifwHeiUw .content-wrapper .items-wrapper .item .item-wrapper .card-box .iconfont-wrapper {
  display: inline-flex;
  margin-right: 30px;
}
@media (max-width: 992px) {
  .cid-v0ifwHeiUw .content-wrapper .items-wrapper .item .item-wrapper .card-box .iconfont-wrapper {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.cid-v0ifwHeiUw .content-wrapper .items-wrapper .item .item-wrapper .card-box .iconfont-wrapper .mbr-iconfont {
  width: 80px;
  height: 80px;
  min-width: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #000000;
  background-color: #009f4d;
  border-radius: 100%;
}
.cid-v0ifwHeiUw .content-wrapper .items-wrapper .item .item-wrapper .card-box .card-title {
  padding-right: 30px;
  width: 30%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-v0ifwHeiUw .content-wrapper .items-wrapper .item .item-wrapper .card-box .card-title {
    padding-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
}
.cid-v0ifwHeiUw .content-wrapper .items-wrapper .item .item-wrapper .card-box .card-text {
  padding-right: 30px;
  width: 50%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-v0ifwHeiUw .content-wrapper .items-wrapper .item .item-wrapper .card-box .card-text {
    padding-right: 0;
    width: 100%;
  }
}
.cid-v0ifwHeiUw .mbr-label,
.cid-v0ifwHeiUw .label-wrapper {
  color: #000000;
}
.cid-v0ifwHeiUw .mbr-section-title {
  color: #fef9ee;
}
.cid-v0ifwHeiUw .mbr-text {
  color: #8a8a8a;
}
.cid-v0ifwHeiUw .card-title {
  color: #000000;
}
.cid-v0ifwHeiUw .card-text {
  color: #fef9ee;
  text-align: left;
}
.cid-v0ifwHeiUw .item-number {
  color: #e4ed64;
  text-align: center;
}
.cid-v0ifwHeiUw .item-title {
  color: #ffffff;
  text-align: center;
}
.cid-v0ifwHeiUw .item-star,
.cid-v0ifwHeiUw .rating-wrapper {
  color: #e4ed64;
  text-align: center;
}
.cid-v0ifwHeiUw .item-desc {
  color: #ffffff;
  text-align: center;
}
.cid-v0ikaHyfib {
  padding-top: 5rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
  background-color: #1f1d1a;
}
.cid-v0ikaHyfib .border-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1000vh;
  height: 1px;
  background-color: #150764;
}
.cid-v0ikaHyfib .mbr-fallback-image.disabled {
  display: none;
}
.cid-v0ikaHyfib .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v0ikaHyfib .title-wrapper {
  margin-bottom: 104px;
  padding: 0 120px;
}
@media (max-width: 1640px) {
  .cid-v0ikaHyfib .title-wrapper {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-v0ikaHyfib .title-wrapper {
    margin-bottom: 40px;
    padding: 0;
  }
}
.cid-v0ikaHyfib .title-wrapper .mbr-desc {
  margin-bottom: 16px;
}
.cid-v0ikaHyfib .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-v0ikaHyfib .items-wrapper {
  justify-content: center;
  margin: 0 -12px;
  padding: 0 120px;
}
@media (max-width: 1640px) {
  .cid-v0ikaHyfib .items-wrapper {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-v0ikaHyfib .items-wrapper {
    padding: 0;
  }
}
.cid-v0ikaHyfib .items-wrapper .item {
  padding: 0 12px;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .cid-v0ikaHyfib .items-wrapper .item {
    margin-bottom: 20px;
  }
}
.cid-v0ikaHyfib .items-wrapper .item:hover .item-wrapper .item-img img,
.cid-v0ikaHyfib .items-wrapper .item:focus .item-wrapper .item-img img {
  transform: scale(2) rotate(45deg);
}
.cid-v0ikaHyfib .items-wrapper .item .item-wrapper {
  border: 1px solid #f09339;
  overflow: hidden;
}
.cid-v0ikaHyfib .items-wrapper .item .item-wrapper .item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 50px 0;
}
.cid-v0ikaHyfib .items-wrapper .item .item-wrapper .item-img img {
  height: 400px;
  width: 400px;
  min-width: 400px;
  border-radius: 100% !important;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
}
@media (max-width: 1200px) {
  .cid-v0ikaHyfib .items-wrapper .item .item-wrapper .item-img img {
    height: 300px;
    width: 300px;
    min-width: 300px;
  }
}
@media (max-width: 992px) {
  .cid-v0ikaHyfib .items-wrapper .item .item-wrapper .item-img img {
    height: 250px;
    width: 250px;
    min-width: 250px;
  }
}
.cid-v0ikaHyfib .items-wrapper .item .item-wrapper .card_1 {
  background-color: #f09339;
}
.cid-v0ikaHyfib .items-wrapper .item .item-wrapper .card_2 {
  background-color: #009f4d;
}
.cid-v0ikaHyfib .items-wrapper .item .item-wrapper .card_3 {
  background-color: #df3815;
}
.cid-v0ikaHyfib .items-wrapper .item .item-wrapper .item-content .item-title {
  border-top: 1px solid #f09339;
  padding: 32px;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-v0ikaHyfib .items-wrapper .item .item-wrapper .item-content .item-title {
    padding: 20px;
  }
}
.cid-v0ikaHyfib .items-wrapper .item .item-wrapper .item-content .item-text {
  border-top: 1px solid #f09339;
  padding: 12px;
  margin-bottom: 0;
}
.cid-v0ikaHyfib .items-wrapper .item .item-wrapper .item-content .mbr-section-btn {
  width: 100%;
  padding: 0 12px 12px 12px;
}
.cid-v0ikaHyfib .items-wrapper .item .item-wrapper .item-content .mbr-section-btn .btn {
  width: 100%;
  margin: 0 10px;
}
.cid-v0ikaHyfib .mbr-section-title {
  color: #150764;
  text-align: center;
}
.cid-v0ikaHyfib .mbr-desc {
  color: #4188ff;
  text-align: center;
}
.cid-v0ikaHyfib .item-title {
  color: #150764;
  text-align: center;
}
.cid-v0ikaHyfib .item-text {
  color: #bbbbbb;
  text-align: center;
}
.cid-v0ikaHyfib .mbr-section-title,
.cid-v0ikaHyfib .mbr-section-btn {
  color: #fef9ee;
}
.cid-v0ikaHyfib .item-title,
.cid-v0ikaHyfib .mbr-section-btn {
  color: #fef9ee;
}
.cid-v0itio6gYo {
  padding-top: 0rem;
  padding-bottom: 5rem;
  position: relative;
  overflow: hidden;
  background-color: #1f1d1a;
}
.cid-v0itio6gYo .border-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1000vh;
  height: 1px;
  background-color: #f09339;
}
.cid-v0itio6gYo .mbr-fallback-image.disabled {
  display: none;
}
.cid-v0itio6gYo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v0itio6gYo .title-wrapper {
  margin-bottom: 104px;
  padding: 0 120px;
}
@media (max-width: 1640px) {
  .cid-v0itio6gYo .title-wrapper {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-v0itio6gYo .title-wrapper {
    margin-bottom: 40px;
    padding: 0;
  }
}
.cid-v0itio6gYo .title-wrapper .mbr-desc {
  margin-bottom: 16px;
}
.cid-v0itio6gYo .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-v0itio6gYo .items-wrapper {
  justify-content: center;
  margin: 0 -12px;
  padding: 0 120px;
}
@media (max-width: 1640px) {
  .cid-v0itio6gYo .items-wrapper {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-v0itio6gYo .items-wrapper {
    padding: 0;
  }
}
.cid-v0itio6gYo .items-wrapper .item {
  padding: 0 12px;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .cid-v0itio6gYo .items-wrapper .item {
    margin-bottom: 20px;
  }
}
.cid-v0itio6gYo .items-wrapper .item:hover .item-wrapper .item-img img,
.cid-v0itio6gYo .items-wrapper .item:focus .item-wrapper .item-img img {
  transform: scale(2) rotate(45deg);
}
.cid-v0itio6gYo .items-wrapper .item .item-wrapper {
  border: 1px solid #f09339;
  overflow: hidden;
}
.cid-v0itio6gYo .items-wrapper .item .item-wrapper .item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 50px 0;
}
.cid-v0itio6gYo .items-wrapper .item .item-wrapper .item-img img {
  height: 400px;
  width: 400px;
  min-width: 400px;
  border-radius: 100% !important;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
}
@media (max-width: 1200px) {
  .cid-v0itio6gYo .items-wrapper .item .item-wrapper .item-img img {
    height: 300px;
    width: 300px;
    min-width: 300px;
  }
}
@media (max-width: 992px) {
  .cid-v0itio6gYo .items-wrapper .item .item-wrapper .item-img img {
    height: 250px;
    width: 250px;
    min-width: 250px;
  }
}
.cid-v0itio6gYo .items-wrapper .item .item-wrapper .card_1 {
  background-color: #009f4d;
}
.cid-v0itio6gYo .items-wrapper .item .item-wrapper .card_2 {
  background-color: #df3815;
}
.cid-v0itio6gYo .items-wrapper .item .item-wrapper .card_3 {
  background-color: #f09339;
}
.cid-v0itio6gYo .items-wrapper .item .item-wrapper .item-content .item-title {
  border-top: 1px solid #f09339;
  padding: 32px;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-v0itio6gYo .items-wrapper .item .item-wrapper .item-content .item-title {
    padding: 20px;
  }
}
.cid-v0itio6gYo .items-wrapper .item .item-wrapper .item-content .item-text {
  border-top: 1px solid #f09339;
  padding: 12px;
  margin-bottom: 0;
}
.cid-v0itio6gYo .items-wrapper .item .item-wrapper .item-content .mbr-section-btn {
  width: 100%;
  padding: 0 12px 12px 12px;
}
.cid-v0itio6gYo .items-wrapper .item .item-wrapper .item-content .mbr-section-btn .btn {
  width: 100%;
  margin: 0 10px;
}
.cid-v0itio6gYo .mbr-section-title {
  color: #150764;
  text-align: center;
}
.cid-v0itio6gYo .mbr-desc {
  color: #4188ff;
  text-align: center;
}
.cid-v0itio6gYo .item-title {
  color: #150764;
  text-align: center;
}
.cid-v0itio6gYo .item-text {
  color: #bbbbbb;
  text-align: center;
}
.cid-v0itio6gYo .mbr-section-title,
.cid-v0itio6gYo .mbr-section-btn {
  color: #fef9ee;
}
.cid-v0itio6gYo .item-title,
.cid-v0itio6gYo .mbr-section-btn {
  color: #fef9ee;
}
.cid-v0iCSdr1BB {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #1f1d1a;
}
.cid-v0iCSdr1BB h6 {
  line-height: 1.2;
}
.cid-v0iCSdr1BB img,
.cid-v0iCSdr1BB .item-img {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 2rem;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-v0iCSdr1BB .img-big img {
  border-radius: 10rem;
}
.cid-v0iCSdr1BB .item:focus,
.cid-v0iCSdr1BB span:focus {
  outline: none;
}
.cid-v0iCSdr1BB .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-v0iCSdr1BB .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-v0iCSdr1BB .mbr-section-btn {
  margin-top: auto !important;
}
.cid-v0iCSdr1BB .mbr-section-title {
  color: #232323;
}
.cid-v0iCSdr1BB .mbr-text,
.cid-v0iCSdr1BB .mbr-section-btn {
  color: #353535;
}
.cid-v0iCSdr1BB .item-title {
  color: #353535;
}
.cid-v0iCSdr1BB .item-subtitle {
  color: #009f4d;
}
.cid-v0iE8WwWzA {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #1f1d1a;
}
.cid-v0iE8WwWzA .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-v0iE8WwWzA .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-v0iE8WwWzA .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #f09339;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-v0iE8WwWzA .mbr-text {
  color: #f09339;
}
.cid-v0iI0braDU {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #1f1d1a;
}
.cid-v0iI0braDU .mbr-fallback-image.disabled {
  display: none;
}
.cid-v0iI0braDU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v0iI0braDU .content-wrapper {
  padding: 80px 90px;
  background-color: #009f4d;
}
@media (max-width: 992px) {
  .cid-v0iI0braDU .content-wrapper {
    padding: 32px 16px;
  }
}
.cid-v0iI0braDU .content-wrapper .title-wrapper {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .cid-v0iI0braDU .content-wrapper .title-wrapper {
    margin-bottom: 24px;
  }
}
.cid-v0iI0braDU .content-wrapper .title-wrapper .mbr-section-title {
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .cid-v0iI0braDU .content-wrapper .title-wrapper .mbr-section-title {
    margin-bottom: 24px;
  }
}
.cid-v0iI0braDU .content-wrapper .title-wrapper .text-wrapper .mbr-text {
  width: 75%;
  display: inline-block;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-v0iI0braDU .content-wrapper .title-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-v0iI0braDU .content-wrapper .items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}
@media (max-width: 1199px) {
  .cid-v0iI0braDU .content-wrapper .items-wrapper {
    gap: 32px;
  }
}
@media (max-width: 992px) {
  .cid-v0iI0braDU .content-wrapper .items-wrapper {
    display: block;
  }
}
.cid-v0iI0braDU .content-wrapper .items-wrapper .item {
  transform: rotate(-1deg);
  transition: all 0.3s ease-in-out;
}
.cid-v0iI0braDU .content-wrapper .items-wrapper .item:nth-child(2n) {
  transform: rotate(1deg);
}
.cid-v0iI0braDU .content-wrapper .items-wrapper .item:hover,
.cid-v0iI0braDU .content-wrapper .items-wrapper .item:focus {
  transform: rotate(0) !important;
}
@media (max-width: 992px) {
  .cid-v0iI0braDU .content-wrapper .items-wrapper .item {
    margin-bottom: 16px;
    transform: rotate(0) !important;
  }
  .cid-v0iI0braDU .content-wrapper .items-wrapper .item:last-child {
    margin-bottom: 0;
  }
}
.cid-v0iI0braDU .content-wrapper .items-wrapper .item .item-wrapper {
  position: relative;
  border: 3px solid #f09339;
  box-shadow: 4px 4px 0 0 #f09339;
  height: 100%;
  padding: 24px;
  background-color: #f7fff7;
}
@media (max-width: 992px) {
  .cid-v0iI0braDU .content-wrapper .items-wrapper .item .item-wrapper {
    padding: 32px 16px;
  }
}
.cid-v0iI0braDU .content-wrapper .items-wrapper .item .item-wrapper .item-img {
  position: relative;
}
.cid-v0iI0braDU .content-wrapper .items-wrapper .item .item-wrapper .item-img img {
  height: 670px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-v0iI0braDU .content-wrapper .items-wrapper .item .item-wrapper .item-img img {
    height: 350px;
  }
}
.cid-v0iI0braDU .content-wrapper .items-wrapper .item .item-wrapper .item-content .name-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-v0iI0braDU .content-wrapper .items-wrapper .item .item-wrapper .item-content .name-wrapper .icon-wrapper {
  padding-right: 8px;
}
.cid-v0iI0braDU .content-wrapper .items-wrapper .item .item-wrapper .item-content .name-wrapper .icon-wrapper .mbr-iconfont {
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #050f0f;
  transition: all 0.3s ease-in-out;
}
.cid-v0iI0braDU .content-wrapper .items-wrapper .item .item-wrapper .item-content .name-wrapper .icon-wrapper .mbr-iconfont:hover,
.cid-v0iI0braDU .content-wrapper .items-wrapper .item .item-wrapper .item-content .name-wrapper .icon-wrapper .mbr-iconfont:focus {
  color: #90ee90;
}
.cid-v0iI0braDU .content-wrapper .items-wrapper .item .item-wrapper .item-content .name-wrapper .item-name {
  width: 100%;
  margin-bottom: 0;
}
.cid-v0iI0braDU .mbr-section-title {
  color: #fef9ee;
  text-align: center;
}
.cid-v0iI0braDU .mbr-text,
.cid-v0iI0braDU .text-wrapper {
  color: #ffffff;
  text-align: center;
}
.cid-v0iI0braDU .item-name {
  color: #050f0f;
  text-align: center;
}
.cid-v0iFOELmnf {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background: #1f1d1a;
}
.cid-v0iFOELmnf .mbr-fallback-image.disabled {
  display: none;
}
.cid-v0iFOELmnf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v0iFOELmnf .card-wrapper {
  border: 2px solid #f09339;
  padding: 3rem 2.25rem;
  background: #f09339;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-v0iFOELmnf .card-wrapper {
    padding: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-v0iFOELmnf .card-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 992px) {
  .cid-v0iFOELmnf .row .map-wrapper {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-v0iFOELmnf .row .map-wrapper {
    margin-top: 1rem;
  }
}
.cid-v0iFOELmnf .google-map {
  height: 100%;
  position: relative;
}
.cid-v0iFOELmnf .google-map iframe {
  padding: 2px;
  background-color: #000000;
  height: 100%;
  width: 100%;
}
@media (max-width: 992px) {
  .cid-v0iFOELmnf .google-map iframe {
    min-height: 350px;
  }
}
.cid-v0iFOELmnf .google-map [data-state-details] {
  color: #4b4b4b;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-v0iFOELmnf .google-map[data-state] {
  background: #ffffff;
}
.cid-v0iFOELmnf .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-v0iFOELmnf ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cid-v0iFOELmnf .content-head {
  max-width: 800px;
}
.cid-v0iFOELmnf .mbr-section-title {
  color: #009f4d;
}
.cid-v0iFOELmnf .cardTitle {
  color: #000000;
}
.cid-v0iFOELmnf .list,
.cid-v0iFOELmnf .item-wrap {
  color: #000000;
}
.cid-v0iGBJidO4 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-v0iGBJidO4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-v0iGBJidO4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v0iGBJidO4 .content-wrapper .logo-wrapper {
  margin-bottom: 32px;
}
.cid-v0iGBJidO4 .content-wrapper .logo-wrapper img {
  width: 86px;
  height: 86px;
  border-radius: 100% !important;
  object-fit: contain;
  display: inline-flex;
}
.cid-v0iGBJidO4 .content-wrapper .mbr-section-title {
  margin-bottom: 32px;
}
.cid-v0iGBJidO4 .mbr-section-title {
  color: #191c25;
}
.cid-v0iGBJidO4 .mbr-copy {
  color: #858585;
  text-align: center;
}
.cid-v0iGBJidO4 .mbr-section-title,
.cid-v0iGBJidO4 .logo-wrapper {
  text-align: center;
}
